<template>
    <v-layout class="rounded rounded-md">
        <!-- Sidebar -->
        <SidebarComponent v-model="drawer" />

        <!-- Navbar -->
        <NavbarComponent @close="drawer = !drawer" />

        <!-- Main Content -->
        <v-main
            class="d-flex align-center justify-center"
            style="min-height: 200px"
        >
            <RouterView></RouterView>
        </v-main>
    </v-layout>
</template>
<script setup>
import { ref } from "vue";
import SidebarComponent from "./components/layouts/SidebarComponent.vue";
import NavbarComponent from "./components/layouts/navbarComponent.vue";

const drawer = ref(false);
</script>
