<template>
    <div id="app" class="container my-3">
        <div v-if="errorData" class="alert alert-danger" role="alert">
            {{ errorData }}
        </div>
        <div class="row">
            <div class="col-8">
                <!-- Table -->
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Title</th>
                            <th scope="col">Description</th>
                            <th scope="col">Address</th>
                            <th scope="col">Required</th>
                            <th scope="col">Collected</th>
                            <th scope="col">Image</th>
                            <th scope="col">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="campaign in campaigns">
                            <td>{{ campaign.title }}</td>
                            <td>{{ campaign.description }}</td>
                            <td>{{ campaign.address }}</td>
                            <td>{{ campaign.required }}</td>
                            <td>{{ campaign.collected }}</td>
                            <td>
                                <img
                                    :src="
                                        campaign.image
                                            ? host + '/' + campaign.image
                                            : imageNotFound
                                    "
                                    style="width: 200px"
                                    alt="unable to load image"
                                />
                            </td>
                            <td>
                                <input
                                    type="button"
                                    @click="getData(campaign)"
                                    value="Edit"
                                    class="btn btn-info btn-sm"
                                />
                                <input
                                    type="button"
                                    @click="deleteData(campaign.id)"
                                    value="Delete"
                                    class="btn btn-danger btn-sm"
                                />
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-4">
                <!-- Form Input -->
                <h1>{{ isUpdate ? "Update Data" : "Tambah Data" }}</h1>
                <form @submit.prevent="onSubmit">
                    <div class="mb-3">
                        <label class="form-label">Title</label>
                        <input
                            type="text"
                            class="form-control"
                            v-model="title"
                        />
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Description</label>
                        <textarea
                            class="form-control"
                            rows="3"
                            v-model="description"
                        ></textarea>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Address</label>
                        <input
                            type="text"
                            class="form-control"
                            v-model="address"
                        />
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Required</label>
                        <input
                            type="number"
                            class="form-control"
                            v-model="required"
                        />
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Collected</label>
                        <input
                            type="number"
                            class="form-control"
                            v-model="collected"
                        />
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Image</label>
                        <input
                            type="file"
                            class="form-control"
                            ref="image"
                            name="image"
                        />
                    </div>
                    <button
                        type="submit"
                        class="btn me-2"
                        :class="isUpdate ? 'btn-info' : 'btn-primary'"
                    >
                        {{ isUpdate ? "Update" : "Tambah" }}
                    </button>
                    <button
                        type="button"
                        class="btn btn-danger"
                        @click="clearInput"
                        v-if="isUpdate"
                    >
                        Cancel
                    </button>
                </form>
            </div>
        </div>
    </div>
</template>

<script>
import { ref, onMounted } from "vue";
import axios from "axios";

export default {
    setup() {
        const host = "http://localhost:8000";
        const route = "/api/campaign";
        const campaigns = ref([]);
        const id = ref("");
        const isUpdate = ref(false);
        const errorData = ref("");
        const title = ref("");
        const description = ref("");
        const address = ref("");
        const required = ref("");
        const collected = ref("");
        const image = ref("");
        const imageNotFound = ref(
            "https://www.salonlfc.com/wp-content/uploads/2018/01/image-not-found-scaled-1150x647.png"
        );
        let message;

        const getcampaigns = async () => {
            try {
                const response = await axios.get(host + route);
                campaigns.value = response.data.data.campaign;
            } catch (error) {
                console.error(error);
            }
        };

        onMounted(() => {
            getcampaigns();
        });

        const getData = async (campaign) => {
            id.value = campaign.id;
            title.value = campaign.title;
            description.value = campaign.description;
            address.value = campaign.address;
            required.value = campaign.required;
            collected.value = campaign.collected;
            image.value = host + "/" + campaign.image;
            isUpdate.value = true;
        };

        const clearInput = async () => {
            title.value = "";
            description.value = "";
            address.value = "";
            required.value = "";
            collected.value = "";
            id.value = "";
            image.value = "";
            isUpdate.value = false;
            errorData.value = "";
        };

        const deleteData = async (campaignId) => {
            const message = "Berhasil Delete Data";
            await axios.delete(`${host}${route}/${campaignId}`);
            alert(message);
            await clearInput();
            await getcampaigns();
        };

        const onSubmit = async () => {
            const formData = new FormData();

            formData.append("title", title.value);
            formData.append("description", description.value);
            formData.append("address", address.value);
            formData.append("required", required.value);
            formData.append("collected", collected.value);

            if (image.value && image.value.files[0]) {
                formData.append("image", image.value.files[0]);
            }

            // Add the _method field to the form data
            formData.append("_method", id.value ? "PUT" : "POST");

            let message;

            try {
                await axios.post(
                    id.value
                        ? `${host}${route}/${id.value}`
                        : `${host}${route}`,
                    formData,
                    {
                        headers: {
                            "Content-Type": "multipart/form-data",
                        },
                    }
                );

                if (id.value) {
                    message = "Berhasil update data";
                } else {
                    message = "Berhasil tambah data";
                }
            } catch (error) {
                errorData.value = error.response.data.message;
                console.log(errorData.value);
            }

            await clearInput();
            alert(message);
            await getcampaigns();
        };

        return {
            host,
            route,
            campaigns,
            id,
            isUpdate,
            errorData,
            title,
            description,
            address,
            required,
            collected,
            image,
            imageNotFound,
            onSubmit,
            getData,
            clearInput,
            deleteData,
        };
    },
};
</script>
