<template>
    <div id="app" class="container my-3">
        <div
            v-if="!dialog && errorData"
            class="alert alert-danger"
            role="alert"
        >
            {{ errorData }}
        </div>
        <!-- Table -->
        <v-card class="m-5" width="1200" prepend-icon="mdi-home">
            <template v-slot:title>Campaign</template>
            <v-row justify="end" align="center">
                <v-dialog v-model="dialog" persistent width="1024">
                    <template v-slot:activator="{ props }">
                        <v-col cols="auto" class="mr-5">
                            <v-btn
                                color="primary"
                                icon="mdi-plus-circle"
                                size="large"
                                v-bind="props"
                            ></v-btn>
                        </v-col>
                    </template>
                    <v-card>
                        <div
                            v-if="dialog && errorData"
                            class="alert alert-danger m-3"
                            role="alert"
                        >
                            {{ errorData }}
                        </div>
                        <v-card-title class="m-3">
                            <span class="text-h5">Add Campaign</span>
                        </v-card-title>
                        <v-card-text>
                            <form @submit.prevent="onSubmit">
                                <v-container>
                                    <v-row>
                                        <v-col cols="12">
                                            <v-text-field
                                                label="Title*"
                                                v-model="title"
                                                required
                                            ></v-text-field>
                                        </v-col>
                                        <v-col cols="12">
                                            <v-text-field
                                                label="Required*"
                                                v-model="required"
                                                type="number"
                                                required
                                            ></v-text-field>
                                        </v-col>
                                        <v-col cols="12">
                                            <v-textarea
                                                label="Description*"
                                                v-model="description"
                                                required
                                            ></v-textarea>
                                        </v-col>
                                        <v-col cols="12">
                                            <v-text-field
                                                label="Address*"
                                                v-model="address"
                                                required
                                            ></v-text-field>
                                        </v-col>
                                        <v-col cols="12">
                                            <v-file-input
                                                clearable
                                                label="Image"
                                                ref="image"
                                                name="image"
                                            ></v-file-input>
                                        </v-col>
                                        <v-col cols="12">
                                            <v-text-field
                                                label="Collected"
                                                v-model="collected"
                                                type="number"
                                                v-show="false"
                                            ></v-text-field>
                                        </v-col>
                                    </v-row>
                                </v-container>
                                <small>*Required field</small>
                            </form>
                        </v-card-text>
                        <v-card-actions>
                            <v-row>
                                <v-col>
                                    <v-btn
                                        @click="onSubmit"
                                        :color="isUpdate ? 'info' : 'primary'"
                                        variant="flat"
                                        block
                                        >{{
                                            isUpdate ? "Update" : "Tambah"
                                        }}</v-btn
                                    >
                                </v-col>
                                <v-col>
                                    <v-btn
                                        @click="clearInput"
                                        color="secondary"
                                        variant="flat"
                                        block
                                        >Cancel</v-btn
                                    >
                                </v-col>
                            </v-row>
                        </v-card-actions>
                    </v-card>
                </v-dialog>
            </v-row>
            <v-table class="mt-5">
                <thead>
                    <tr>
                        <th class="text-left">Title</th>
                        <th class="text-left">Required</th>
                        <th class="text-left">Collected</th>
                        <th class="text-left">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="campaign in campaigns" :key="campaign.title">
                        <td>{{ campaign.title }}</td>
                        <td>{{ campaign.required }}</td>
                        <td>{{ campaign.collected }}</td>
                        <td>
                            <v-btn
                                @click="getData(campaign)"
                                color="info"
                                size="small"
                                class="me-3"
                            >
                                <v-icon> mdi-information </v-icon>
                            </v-btn>

                                <v-btn
                                    @click="detail = true"
                                    color="warning"
                                    size="small"
                                    class="me-3"
                                >
                                    <v-icon> mdi-pencil </v-icon></v-btn
                                >

                                <v-dialog v-model="detail" width="auto">
                                    <v-card>
                                        <v-card-text>
                                            Lorem ipsum dolor sit amet,
                                            consectetur adipiscing elit, sed do
                                            eiusmod tempor incididunt ut labore
                                            et dolore magna aliqua.
                                        </v-card-text>
                                        <v-card-actions>
                                            <v-btn
                                                color="primary"
                                                block
                                                @click="detail = false"
                                                >Close Dialog</v-btn
                                            >
                                        </v-card-actions>
                                    </v-card>
                                </v-dialog>
                            <v-btn
                                @click="deleteData(campaign.id)"
                                color="danger"
                                size="small"
                                class="me-3"
                            >
                                <v-icon> mdi-delete </v-icon>
                            </v-btn>
                        </td>
                    </tr>
                </tbody>
            </v-table>

            <v-card-text> This is content </v-card-text>
        </v-card>
    </div>
</template>

<script>
import { ref, onMounted } from "vue";
import axios from "axios";

export default {
    setup() {
        const host = "http://localhost:8000";
        const route = "/api/campaign";
        const dialog = ref(false);
        const detail = ref(false);
        const campaigns = ref([]);
        const id = ref("");
        const isUpdate = ref(false);
        const errorData = ref("");
        const title = ref("");
        const description = ref("");
        const address = ref("");
        const required = ref("");
        const collected = ref(0);
        const image = ref("");
        const imageNotFound = ref(
            "https://www.salonlfc.com/wp-content/uploads/2018/01/image-not-found-scaled-1150x647.png"
        );
        let message;

        const laravelApi = axios.create({
            baseURL: host,
            headers: {
                "Content-Type": "multipart/form-data",
            },
        });

        const getcampaigns = async () => {
            try {
                const response = await axios.get(host + route);
                campaigns.value = response.data.data.campaign;
            } catch (error) {
                console.error(error);
            }
        };

        onMounted(() => {
            getcampaigns();
        });

        const getData = async (campaign) => {
            id.value = campaign.id;
            title.value = campaign.title;
            description.value = campaign.description;
            address.value = campaign.address;
            required.value = campaign.required;
            collected.value = campaign.collected;
            image.value = host + "/" + campaign.image;
            isUpdate.value = true;
        };

        const clearInput = async () => {
            title.value = "";
            description.value = "";
            address.value = "";
            required.value = "";
            collected.value = 0;
            id.value = "";
            image.value = "";
            isUpdate.value = false;
            errorData.value = "";
            dialog.value = false;
        };

        const deleteData = async (campaignId) => {
            const message = "Berhasil Delete Data";
            await axios.delete(`${host}${route}/${campaignId}`);
            alert(message);
            await clearInput();
            await getcampaigns();
        };

        const createOrUpdateCampaign = async (url, formData) => {
            try {
                const response = await laravelApi.post(url, formData);
                return response.data;
            } catch (error) {
                return Promise.reject(error);
            }
        };

        const onSubmit = async () => {
            const formData = new FormData();

            formData.append("title", title.value);
            formData.append("description", description.value);
            formData.append("address", address.value);
            formData.append("required", required.value);
            formData.append("collected", collected.value);

            if (image.value && image.value.files[0]) {
                formData.append("image", image.value.files[0]);
            }

            const url = id.value ? `${route}/${id.value}?_method=PUT` : route;

            if (id.value) {
                try {
                    await createOrUpdateCampaign(url, formData);
                    message = "Berhasil update data";
                    dialog.value = false;
                    await clearInput();
                } catch (error) {
                    errorData.value = error.response.data.message;
                    dialog.value = true;
                    message = `Gagal update data karena : ${errorData.value}`;
                    console.log(errorData.value);
                }
            } else {
                try {
                    await createOrUpdateCampaign(url, formData);
                    message = "Berhasil create data";
                    dialog.value = false;
                    await clearInput();
                } catch (error) {
                    errorData.value = error.response.data.message;
                    message = `Gagal create data karena : ${errorData.value}`;
                    console.log(errorData.value);
                }
            }

            alert(message);
            await getcampaigns();
        };

        return {
            host,
            route,
            campaigns,
            dialog,
            detail,
            id,
            isUpdate,
            errorData,
            title,
            description,
            address,
            required,
            collected,
            image,
            imageNotFound,
            onSubmit,
            getData,
            clearInput,
            deleteData,
            createOrUpdateCampaign,
        };
    },
};
</script>
