<template>
  
  
<table class="table">
  <thead>
      <tr>
          <th scope="col">Title</th>
          <th scope="col">Description</th>
          <th scope="col">Address</th>
          <th scope="col">Required</th>
          <th scope="col">Collected</th>
          <th scope="col">Image</th>
          <th scope="col">Action</th>
      </tr>
  </thead>
  <tbody>
      <tr v-for="campaign in campaigns">
          <td>{{ campaign.title }}</td>
          <td>{{ campaign.description }}</td>
          <td>{{ campaign.address }}</td>
          <td>{{ campaign.required }}</td>
          <td>{{ campaign.collected }}</td>
          <td>
              <img
                  :src="
                      campaign.image
                          ? host + '/' + campaign.image
                          : imageNotFound
                  "
                  style="width: 200px"
                  alt="unable to load image"
              />
          </td>
          <td>
              <input
                  type="button"
                  @click="getData(campaign)"
                  value="Edit"
                  class="btn btn-info btn-sm"
                  />
              <input
                  type="button"
                  @click="deleteData(campaign.id)"
                  value="Delete"
                  class="btn btn-danger btn-sm"
                  />
                </td>
              </tr>
  </tbody>
</table>
</div>
<div class="col-4">
  <!-- Form Input -->
<h1>{{ isUpdate ? "Update Data" : "Tambah Data" }}</h1>
<form @submit.prevent="onSubmit">
  <div class="mb-3">
    <label class="form-label">Title</label>
    <input
    type="text"
    class="form-control"
    v-model="title"
    />
  </div>
  <div class="mb-3">
    <label class="form-label">Description</label>
      <textarea
          class="form-control"
          rows="3"
          v-model="description"
      ></textarea>
    </div>
  <div class="mb-3">
    <label class="form-label">Address</label>
      <input
      type="text"
      class="form-control"
      v-model="address"
      />
    </div>
    <div class="mb-3">
      <label class="form-label">Required</label>
      <input
          type="number"
          class="form-control"
          v-model="required"
      />
    </div>
    <div class="mb-3">
      <label class="form-label">Collected</label>
      <input
      type="number"
          class="form-control"
          v-model="collected"
          />
        </div>
        <div class="mb-3">
      <label class="form-label">Image</label>
      <input
          type="file"
          class="form-control"
          ref="image"
          name="image"
          />
        </div>
  <button
  type="submit"
  class="btn me-2"
  :class="isUpdate ? 'btn-info' : 'btn-primary'"
  >
      {{ isUpdate ? "Update" : "Tambah" }}
    </button>
    <button
    type="button"
      class="btn btn-danger"
      @click="clearInput"
      v-if="isUpdate"
  >
      Cancel
  </button>
</form>
</div>
    </template>