<template>
    <v-app-bar color="success" density="compact">
            <!-- Entah kenapa di browser saya logicnya tidak jalan sehingga sidebar selalu muncul -->
            <v-app-bar-nav-icon 
                variant="text"
                @click.stop="$emit('close')"  
                ></v-app-bar-nav-icon>    
                <v-app-bar-title>Crowd Funding</v-app-bar-title>
            </v-app-bar>
</template>
