<template>
    <v-navigation-drawer color="success" app>
            <v-list-item prepend-avatar="https://randomuser.me/api/portraits/men/78.jpg" title="Admin"></v-list-item>

            <v-divider></v-divider>

            <v-list density="compact" nav>
                <v-list-item prepend-icon="mdi-view-dashboard" title="Home" value="home" :to="{ name: 'Home' }"></v-list-item>
                <v-list-item prepend-icon="mdi-account" title="About" value="about" :to="{ name: 'About' }"></v-list-item>
                <v-list-item prepend-icon="mdi-currency-usd" title="Campaign" value="campaign" :to="{ name: 'Campaign' }"></v-list-item>
            </v-list>
    </v-navigation-drawer>
</template>